Prototipo Nominas/.vs/Prototipo Nominas/v14/.suo
Prototipo Nominas/Prototipo Nominas/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Prototipo Nominas/Prototipo Nominas/obj/Debug/Prototipo Nominas.csproj.FileListAbsolute.txt
Prototipo Nominas/Prototipo Nominas/obj/Debug/Prototipo Nominas.csproj.GenerateResource.Cache
Prototipo Nominas/Prototipo Nominas/obj/Debug/Prototipo Nominas.exe
Prototipo Nominas/Prototipo Nominas/obj/Debug/Prototipo Nominas.pdb 