ModuloNominas/.vs/ModuloNominas/v14/.suo

ModuloNominas/CapaDatos/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ModuloNominas/CapaDiseño/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ModuloNominas/CapaLogica/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache

ModuloNominas/CapaDatos/obj/Debug/ModuloNominas.csproj.FileListAbsolute.txt
ModuloNominas/CapaDiseño/obj/Debug/ModuloNominas.csproj.FileListAbsolute.txt
ModuloNominas/CapaLogica/obj/Debug/ModuloNominas.csproj.FileListAbsolute.txt

ModuloNominas/CapaDatos/obj/Debug/ModuloNominas.csproj.GenerateResource.Cache
ModuloNominas/CapaDiseño/obj/Debug/ModuloNominas.csproj.GenerateResource.Cache
ModuloNominas/CapaLogica/obj/Debug/ModuloNominas.csproj.GenerateResource.Cache

ModuloNominas/CapaDiseño/obj/Debug/CapaDiseño.exe
ModuloNominas/CapaDiseño/obj/Debug/CapaDiseño.pdb
ModuloNominas/CapaDiseño/Procesos/Liquidacion/Form2.cs
